[Unit]
Description=Spring Boot Application
After=syslog.target network.target

[Service]
User=springapp
Group=springapp
Type=simple
Environment="SPRING_DATASOURCE_URL=jdbc:postgresql://db.{{ supabase_project_ref }}.supabase.co:5432/postgres"
Environment="SPRING_DATASOURCE_USERNAME=postgres"
Environment="SPRING_DATASOURCE_PASSWORD={{ db_password }}"
ExecStart=/usr/bin/java -Dserver.port=8080 -Dspring.profiles.active={{ spring_profile }} -Dcors.allowed-origins={{ allowed_origins }} -jar {{ app_dest }}/app.jar
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
